<% current_user.purchases.each do |p| %>
	<%= link_to p.game, :class => "appLink" do %>
		<article class="app">
			<div class= "coverPhoto">
				<% if p.game.cover_photo %>
					<%= image_tag p.game.cover_photo.url %>
				<% end%>
			</div>
			<div class="gameName">
				<%= p.game.game_name %>
			</div>
			<div class="cat">
				<%= p.game.description %>
			</div>
			<div class="priceMain">
				<% if p.game.price!=0 %><%= p.game.price %> تومان<%else%>رایگان<%end%>
			</div>
		</article>
	<% end %>
<%end%>