<aside class="profile-info col-lg-9">
    <section class="panel">
        <div class="bio-graph-heading">
            <h1>ویرایش اطلاعات کاربری</h1>
        </div>
        <div class="panel-body bio-graph-info">
            <%= simple_form_for(@profile ,:html => {:class =>'form-horizontal'})  do |f| %>
	            <div class="form-group">
	                <div class="col-lg-6 col-lg-offset-4">
	                    <%= f.text_field :firstname , class:"form-control form-cascade-control input-small"  %>
	                </div>
	                <label  class="col-lg-2 control-label">نام</label>
	            </div>
	            <div class="form-group">
	                <div class="col-lg-6 col-lg-offset-4">
	                    <%= f.text_field :lastname , class:"form-control form-cascade-control input-small"  %>
	                </div>
	                <label  class="col-lg-2 control-label">نام خانوادگی</label>
	            </div>
	            <div class="form-group" style="disabled: true;">
	                <div class="col-lg-6 col-lg-offset-4">
	                	<p class="form-control form-cascade-control input-small">
	                    	<%=current_user.email%>
	                    </p>
	                </div>
	                <label  class="col-lg-2 control-label">ایمیل</label>
	            </div>
	            <div class="form-group">
	                <div class="col-lg-6 col-lg-offset-4">
	                    <%= f.text_field :mobile , class:"form-control form-cascade-control input-small"  %>
	                </div>
	                <label  class="col-lg-2 control-label">شماره موبایل</label>
	            </div>
	            <div class="form-group">
	                <div class="col-lg-6 col-lg-offset-4">
	                    <%= f.file_field :avatar , class:"file-pos" %>
	                </div>
	                <label  class="col-lg-2 control-label">تغییر آواتار</label>
	            </div>
	            <div class="form-group">
	                <div class="col-lg-offset-2 col-lg-10">
	                    <%= f.submit "ذخیره" , class:"btn btn-success"%>
	                </div>
	            </div>
            <%end%>
        </div>
    </section>

    <section>
        <div class="panel panel-primary">
            <div class="panel-heading"><h2> تغییر پسورد </h2></div>
            <div class="panel-body">
            	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class =>'form-horizontal', :method => :put }) do |f| %>
                    <div class="form-group">
                        <div class="col-lg-6 col-lg-offset-4">
                            <%= f.password_field :current_password , class:"form-control form-cascade-control input-small" %>
                        </div>
                        <label  class="col-lg-2 control-label">پسورد کنکونی</label>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-6 col-lg-offset-4">
                            <%= f.password_field :password, :autocomplete => "off" , class:"form-control form-cascade-control input-small"%>
                        </div>
                        <label  class="col-lg-2 control-label">پسورد جدید</label>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-6 col-lg-offset-4">
                             <%= f.password_field :password_confirmation , class:"form-control form-cascade-control input-small" %>
                        </div>
                        <label  class="col-lg-2 control-label">تکرار پسورد</label>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                        	<%= f.submit "ذخیره" , class: "btn btn-info" %>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </section>
</aside>

