<div class="col-lg-12">
    <div class="row profile">

        <div class="col-lg-9">
	       <aside class="profile-info col-lg-12">
                <section class="panel">
                    <div class="bio-graph-heading">
                        <h1>اطلاعات کاربری</h1>
                    </div>
                    <div class="panel-body bio-graph-info">
                        <h1>اطلاعات کاربری</h1>
                        <div class="row">
                        	<div class="bio-row">
                                <p><span>نام خانوادگی </span>: <%= @profile.lastname %></p>
                            </div>

                            <div class="bio-row">
                                <p><span>نام </span>: <%= @profile.firstname %></p>
                            </div>

                            <div class="bio-row">
                                <p><span>تلفن </span>: <%= @profile.mobile %></p>
                            </div>

                            <div class="bio-row">
                                <p><span>ایمیل </span>: <%= @profile.user.email %></p>
                            </div>
                            
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                    </div>
                </section>
            </aside>
            <% if !current_user.developer.nil?%>
                <aside class="profile-info col-lg-12">
                    
                    <section class="panel">
                        <div class="bio-graph-heading">
                            <h1>مشخصات برنامه نویس</h1>
                        </div>
                        <div class="panel-body bio-graph-info">
                            <h1>مشخصات برنامه نویس</h1>
                            <div class="row">
                                <div class="bio-row">
                                    <p><span>نام کاربری </span>: <%= current_user.developer.developer_account_id %></p>
                                </div>

                                <div class="bio-row">
                                    <p><span>کد ملی </span>: <%= current_user.developer.ssid %></p>
                                </div>

                                <div class="bio-row">
                                    <p><span>تلفن </span>: <%= current_user.developer.tel %></p>
                                </div>
                                
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                        </div>
                    </section>
                </aside>
            <%end%>
            <%if current_user.purchases.first %>
                <aside class="profile-info col-lg-12">
                    <section class="panel">
                        <div class="bio-graph-heading">
                            <h1>فعالیت ها</h1>
                        </div>
                        <div class="panel-body bio-graph-info">
                            <h1>فعالیت ها</h1>
                            <%= render 'activity' %>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                        </div>
                    </section>
                </aside>
            <%end%>
        </div>

		<%=render 'profile_nav'%>
        


	</div>
</div>