<div id ="edit" class="col-lg-12">
  	<div class=" ed_user stepContainer">
	    <div class="content">
			<p id="notice"><%= notice %></p>
			
			<div class="panel panel-cascade">
          		<div class="panel-body">
					
					<div class="form-group col-lg-12">
						<div class="col-lg-1 col-md-2"></div>
						<div class="col-lg-10 col-md-9">
							<p  class="form-control form-cascade-control input-small" >
							  	<%= @developer.ssid %>
							</p>
						</div>
						<div class="col-lg-1 col-md-1 control-label"> <strong>Ssid:</strong></div>
					</div>

					<div class="form-group col-lg-12">
						<div class="col-lg-1 col-md-2"></div>
						<div class="col-lg-10 col-md-9">
						<p class="form-control form-cascade-control input-small">
							<%= @developer.tel %>
						</p>
						</div>
						<div class="col-lg-1 col-md-1 control-label"> <strong>Tel:</strong></div>
					</div>
					
					<div class="form-group col-lg-12">
						<div class="col-lg-1 col-md-2"></div>
						<div class="col-lg-10 col-md-9">
						<p class="form-control form-cascade-control input-small">
						  	<%= @developer.developer_account %>
						</p>
						</div>
						<div class="col-lg-1 col-md-1 control-label"> <strong>Developer account:</strong></div>
					</div>

				</div>
			</div>
		</div>
			<%= link_to 'Edit', edit_developer_path(@developer) %> |
			<%= link_to 'Back', developers_path %>
	</div>
</div>
