<%= form_for(@game_genre) do |f| %>
  <% if @game_genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_genre.errors.count, "error") %> prohibited this game_genre from being saved:</h2>

      <ul>
      <% @game_genre.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.text_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :genre_id %><br>
    <%= f.text_field :genre_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
