<h1>Listing game_genres</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Genre</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @game_genres.each do |game_genre| %>
      <tr>
        <td><%= game_genre.game %></td>
        <td><%= game_genre.genre %></td>
        <td><%= link_to 'Show', game_genre %></td>
        <td><%= link_to 'Edit', edit_game_genre_path(game_genre) %></td>
        <td><%= link_to 'Destroy', game_genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game genre', new_game_genre_path %>
