<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @game_genre.game %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @game_genre.genre %>
</p>

<%= link_to 'Edit', edit_game_genre_path(@game_genre) %> |
<%= link_to 'Back', game_genres_path %>
