<h1>Listing comments</h1>

<table>
  <thead>
    <tr>
      <th>Stars</th>
      <th>Text</th>
      <th>Submit date</th>
      <th>User</th>
      <th>Game</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.stars %></td>
        <td><%= comment.text %></td>
        <td><%= comment.submit_date %></td>
        <td><%= comment.user %></td>
        <td><%= comment.game %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
