<p id="notice"><%= notice %></p>

<p>
  <strong>Stars:</strong>
  <%= @comment.stars %>
</p>

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<p>
  <strong>Submit date:</strong>
  <%= @comment.submit_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<p>
  <strong>Game:</strong>
  <%= @comment.game %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
