<%= form_for(@developer_account) do |f| %>
  <% if @developer_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@developer_account.errors.count, "error") %> prohibited this developer_account from being saved:</h2>

      <ul>
      <% @developer_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_balance %><br>
    <%= f.text_field :account_balance %>
  </div>
  <div class="field">
    <%= f.label :account_number %><br>
    <%= f.text_field :account_number %>
  </div>
  <div class="field">
    <%= f.label :bank_id %><br>
    <%= f.text_field :bank_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
