<p id="notice"><%= notice %></p>

<p>
  <strong>Purchase date:</strong>
  <%= @purchase.purchase_date %>
</p>

<p>
  <strong>Cart number:</strong>
  <%= @purchase.cart_number %>
</p>

<p>
  <strong>Price:</strong>
  <%= @purchase.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @purchase.user %>
</p>

<p>
  <strong>Game:</strong>
  <%= @purchase.game %>
</p>

<p>
  <strong>Gate:</strong>
  <%= @purchase.gate %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
