<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_name %><br>
    <%= f.text_field :game_name %>
  </div>
  <div class="field">
    <%= f.label :version %><br>
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :create_date %><br>
    <%= f.date_select :create_date %>
  </div>
  <div class="field">
    <%= f.label :release_date %><br>
    <%= f.date_select :release_date %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :developer_id %><br>
    <%= f.text_field :developer_id %>
  </div>
  <div class="field">
    <%= f.label :game_info_id %><br>
    <%= f.text_field :game_info_id %>
  </div>
  <div class="field">
    <%= f.label :review_id %><br>
    <%= f.text_field :review_id %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>

  <%= f.file_field :install_file %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
