<h1>بازی ها</h1>

	<div class="container">
    <% @games.each do |game| %>

		<article class="app">
			<figure><a href=""><img src="tank.webp" alt="" class="thumb"></a></figure>
			<h2><%= link_to game.game_name, game %></h2>
			<div class="cat"><a href=""><%= game.description %></div>
			<div class="price"><%= game.price %> تومان</div>
			<td><%= link_to 'Edit', edit_game_path(game) %></td>
		</article>
    <% end %>
    </div>

<%= link_to 'New Game', new_game_path %>
