<p id="notice"><%= notice %></p>

<p>
  <strong>Game name:</strong>
  <%= @game.game_name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @game.version %>
</p>

<p>
  <strong>Create date:</strong>
  <%= @game.create_date %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @game.release_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @game.developer %>
</p>

<p>
  <strong>Geme info:</strong>
  <%= @game.game_info %>
</p>

<p>
  <strong>Game review:</strong>
  <%= @game.review %>
</p>

<p>
  <strong>Price:</strong>
  <%= @game.price %>
</p>

	<div class="container">
		<article class="app app-post">
			<figure><img src="tank.webp" class="thumb"></figure>
			<section class="app-tt">
				<h2><%= @game.game_name %></h2>
				<h4>تاریخ: <%= @game.release_date %></h4>
				<h4>تاریخ: <%= @game.developer.ssid %></h4>
				<div class="cat more"><a href="">ورزشی</a></div>
			</section>
			<div class="desc">
				<%= @game.description %>
			</div>
			<aside>
				<div class="price">قیمت:<%= @game.price %> تومان</div>
				<div class="version">نسخه:<%= @game.version %></div>
				<button class="buy">خرید</button>
			</aside>
		</article>
	</div>

<%= link_to 'Back', games_path %>
