<p id="notice"><%= notice %></p>

<p>
  <strong>Game name:</strong>
  <%= @game.game_name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @game.version %>
</p>

<p>
  <strong>Create date:</strong>
  <%= @game.create_date %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @game.release_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @game.developer %>
</p>

<p>
  <strong>Geme info:</strong>
  <%= @game.game_info %>
</p>

<p>
  <strong>Game review:</strong>
  <%= @game.review %>
</p>

<p>
  <strong>Price:</strong>
  <%= @game.price %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
