<!DOCTYPE html>
<html>
<head>
  <title>Baazino</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "default", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>



<body>
	<header>
		<nav>
			<ul class="menu">
				<li><a href="">خانه</a></li>
				<li><a href="">اکشن</a></li>
				<li><a href="">ورزشی</a></li>
				<li><a href="">درباره ما</a></li>
				<li><a href="">تماس با ما</a></li>
			    <% if user_signed_in? %>
			        <%= link_to 'خروج', destroy_user_session_path %>
			    <% else %>
			        <%= link_to 'ورود', new_user_session_path %>
			    <% end %>
			</ul>
		</nav>
	</header>

<%= yield %>

</body>
</html>
