<!DOCTYPE html>
<html>
<head>
  <title>Baazino</title>
  <%= javascript_include_tag "jquery.min", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    	$('login').modal(show:true);
    </script>
</head>



<body>
	<header>
		<nav>
			<ul class="menu">
				<li><a href="">خانه</a></li>
				<li><a href="">اکشن</a></li>
				<li><a href="">ورزشی</a></li>
				<li><a href="">درباره ما</a></li>
				<li><a href="">تماس با ما</a></li>
			    <% if user_signed_in? %>
			        <%= link_to 'خروج', destroy_user_session_path %>
			    <% else %>
				    <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#basicModal">ورود</a>
	
				    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">SIGN IN</h4>
								</div>
								<div class="row">
									<%= render "devise/sessions/new" %>
								</div>
							</div>
						</div>
					</div>
			    <% end %>
			</ul>
		</nav>
	</header>

<%= yield %>

</body>
</html>
