<%= form_for(@game_info) do |f| %>
  <% if @game_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_info.errors.count, "error") %> prohibited this game_info from being saved:</h2>

      <ul>
      <% @game_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :platform_id %><br>
    <%= f.text_field :platform_id %>
  </div>
  <div class="field">
    <%= f.label :version_support %><br>
    <%= f.text_field :version_support %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
